#root{
  background-color:#f4f4f4;
  color:#555;
  width: 100%;
}

#main-header{
  background-color: #333;
  color: #fff;
  width: 100%;
}

#display{
  border: 1px #333 solid;
  margin: 2px;
}

.wrapper-pdf{
  padding-bottom: 50px;
}

.wrapper{
  margin: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr 3fr);
  grid-auto-rows:minmax(100px, auto);
  grid-gap:1em;
  justify-items:stretch;
  align-items: start; /* Do NOT match height of all gridboxes*/
}

.wrapper-element {
  padding: 1em;
}

.profile-image {
  max-width: 100%;
  max-height: 100%;
  min-width: 180px;
  min-height: 180px;
  height: auto;
}

.bio-text{
  /* For Debugging | border: 1px solid #e3fe3f; */
}

@media(max-width:600px){
  .wrapper{
    margin: 0;
    padding: 10px;
    display: initial;
    width:100%;
  }
}

.main-navbar{
  background-color: #333333;
  color: #fff;
  width: 100%;
}

.main-navbar ul{
  padding-top: 10px;
  list-style: none;
}

.main-navbar li{
  padding: 0px 20px;
  display:inline;
}

.fixed-element{
  position: fixed;
  bottom: 0px;
  z-index: 100;
}
